#container-register{
    background-image: url("../assents/Gengar2.png");
    background-size: 350px 400px;
    background-repeat: no-repeat;
    box-sizing: border-box;
    width: 40%;
    margin: 100px 350px 100px 350px;
    padding-bottom: 50px;
    background-color: #733ca9;
    border-radius: 5px;
    color: black;
}


h3{
    font-family: cursive;
    padding: 0.5em;
}

 .cadastro__voltar{
    text-decoration: none;
    margin-top: 50px;
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 15px;
 } 
  span{
    font-family: cursive;
    text-align: center;
    color: white;
    
  }

